<div class="container mt-4" *ngIf="product">

  <div class="row">

    <div class="col-md-5">

      <img
        [src]="product.imageUrl"
        class="img-fluid">

    </div>

    <div class="col-md-7">

      <h2>{{product.name}}</h2>

      <p>{{product.description}}</p>

      <h4>₹ {{product.price}}</h4>

      <h5>Available Sizes</h5>

      <button
        class="btn btn-outline-primary me-2"
        (click)="selectSize('SMALL')">

        Small

      </button>

      <button
        class="btn btn-outline-primary me-2"
        (click)="selectSize('MEDIUM')">

        Medium

      </button>

      <button
        class="btn btn-outline-primary"
        (click)="selectSize('LARGE')">

        Large

      </button>

      <br><br>

      Selected Size:

      <strong>{{selectedSize}}</strong>

      <br><br>

     <button
  class="btn btn-success"
  (click)="addToCart()">

  Add To Cart

</button>

    </div>

  </div>

</div>